{% load static from staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>Paw Patrol</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>

        <div class="navbar" style="width:96%; float:left; display:inline;">
            <ul>
                <li><a href="/records/your-pet">Your Pets</a></li>
                                <li><a href="/records">Records</a></li>
                <li><a href="/records/stats">Stats</a></li>
            </ul></div>
<ul class="logout_button" style="height:99px; margin-right:0px; background:orange; color:white; border:0px; position:absolute; display:inline; clear:right; margin-left:0px; margin-top:0px; width:auto;">
<!-- <li> -->
                    <form class="logout-link" action="/accounts/logout/" method="POST">
                        {% csrf_token %}
                        <button class="logout_button" style="height:50%; width:auto; background:orange;" type="submit">Log Out</button>
                    </form>
                <!-- </li> -->
            </ul>
<br >

        <div class="wrapper">
            <!-- text-transform: uppercase; -->
            <p style=" font-size: 20px;">Hey there, {{ request.user }} !</p>
            {% block content %}

            {% endblock %}
        </div>

    </body>
</html>